/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body:not(.dark-mode) {
  transition: all 2s linear;
}


body.dark-mode {
    color: #dfe6e9;
    background-color: black;
    .section {
      .shape-style-1 {
        .shape-primary{
          background: linear-gradient(87deg, #172b4d 0, #1a174d 100%)!important
        }
      }
    }

    polygon {
      fill: black;
    }

    .section-mode{
        background-color: black;
      }    

    h1 {
      color: white;
    }
    .footer
    {
      background-color: black;
    }
    
    
    h4 {
      color: white;
    }
  }

body.light-mode {
    background-color: transparent;
    color: #2d3436;

    polygon {
      fill: white;
    }
  }


